html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
body {
    color: #41658A
  }

.numbers__const, h2, .numbers__field {
    padding: 0 20px
}
.container {
    padding: 20px;
    display: flex;
    align-items: center;
  }
.numbers__field {
    padding: 10px;
  }

.container--color1 {
    background-color: #fcf6ef;
}
.fizzBuzz__button {
    background-color: #024487;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin: 20px;
    font-weight: bold;

}
.fizzBuzz__item {
    padding: 0 20px;
}

